a{text-decoration: none;}
ul{list-style-type: none;}
body{text-align: center;}
*{margin: 0px;padding: 0px;}

img{border:none;}

html{width: 1349px;height: 1980px;}
.index{width: 1349px;height: 1980px;border:1px solid #ccc;}

/*************************************************header start*******************************************************************************/
.header2013{width: 1349px;height: 123px;float: left;border:1px solid #ccc;}
.topnav{width: 1349px;height: 28px;float: left;border-bottom: 1px solid #ebebeb;background-color: #f6f6f6;}
.inner{width: 1200px;height: 28px;margin: 0 auto;}
.main-z{width: 1200px;margin: 0 auto;}
.mainnav {width: 1200px;height: 50px;margin: 0 auto;padding: 20px 0;*height: 90px;float: left;}
.welcome{width: 350px;height:24px;padding: 2px 0;*height:28px;float: left;}
.w_text{width: 350px;height:24px;float: left;}
.hotbag{line-height: 22px;vertical-align: middle;}
.w_text_li{text-align: left;font-family: "SimSun";font-size: 12px;color:#808080;line-height:24px; display: block;float:left;}
.dropdown_hd{display:inline-block;padding: 0 20px 0 10px;margin: 1px;line-height: 22px;position: relative;font-family: "SimSun";font-size: 12px;color:#808080;}
.i_dropdown{line-height: 0px; border-width: 4px;border-style: solid;border-color:#666 #f5f5f5 #f5f5f5;width: 0px;height: 0px;position:absolute;top: 10px;right: 8px;}
.dropdown_normalhd{font-family: "SimSun";font-size: 12px;color:#808080;text-align: center;}
.w_t_li{padding: 0 10px;display:block;float: left;width:auto;line-height: 22px;font-family: "SimSun";font-size: 12px;color:#808080;}
.lich{padding: 0px;letter-spacing: 0px;}
.topmenu{width: 226px;height: 24px;padding: 2px 0;*height: 28px;float: right;}
.topmenu ul{width: 250px;height: 24px;margin: 0 -10px 0 0;}
.myorder{display:block;width: 80px;height: 24px;padding: 0 10px;float: left;*width:100px;text-align: left;}
.logo{display: block; width: 130px;height: 50px;float: left;background-image: url("../Image/logo.png");}
.nav2013{width: 678px;height: 31px;padding: 10px 0 0 0;*height: 41px;margin-left: 40px;float: left;}
.nav2013 li{display: block;float: left;margin-right: 26px;}
.nav2013 a{display: block;padding: 2px;color:#333;font-size: 18px;font-family: "微软雅黑"}
.nav_index{background-image: url("../Image/img_index.png");background-position: 0px 8px;background-repeat: no-repeat;width: 36px;height: 27px;text-indent: -999px;overflow: hidden;}
.nav_hotel{background-position: -80px 8px;width: 72px;height: 27px;}
.nav_hk{background-position: -160px 8px;width: 72px;height: 27px;}
.nav_tuan{background-position: -240px 8px;width: 72px;height: 27px;}
.nav_air{background-position: -320px 8px;width: 72px;height: 27px;}
.nav_tour{background-position: -400px 8px;width: 72px;height: 27px;}
.nav_sys{background-position: -480px 8px;width: 72px;height: 27px;}
.topad{width: 160px;height: 64px;float: right;}

/*************************************************header end*******************************************************************************/



















/*************************************************slider start*******************************************************************************/

.colorline{width: 1349px;height: 4px;float: left;height: 4px;width: 100%;background: none repeat scroll 0% 0% rgb(127, 190, 37);font-size: 0px;}
.colorline-inner{width: 1200px;height: 4px;margin: 0 auto;}
.Line01{display: block;width: 200px;height: 4px;float: left;background: none repeat scroll 0% 0% rgb(227, 189, 36);}
.Line02{display: block;width: 200px;height: 4px;float: left;background: none repeat scroll 0% 0% rgb(255, 154, 34);}

.banner{width: 1349px;height: 400px;float: left;}
.png-inner{width: 400px;height:304px;float: left;}
.i_soso{width: 1200px; margin: 0 auto;position: relative;}
.soso_title{width: 350px;height:24px;float: left;margin: 30px 0 0 50px;font-size: 24px;font-family:"微软雅黑";color:#7fbe25;text-align: left;background-image: url("../Image/soso_title.png");background-position: 0px 0px;background-repeat: no-repeat;text-indent: -999px;}
.inner-png24{z-index:2;background-image: url("../Image/soso_bg.png");background-repeat: repeat;background-position: 0px 0px;width: 400px;height: 400px;position: absolute;left: 0px;}
.slides{width: 1349px;height: 400px;float: left;}
.slides_main{width: 1349px;height: 400px;float: left;}
.banner5{z-index: 1; background-image: url("../Image/banner01.jpg");background-position: 50% 50%;display: block;float: left;width: 1349px;height: 400px;}
.search_fields{width: 300px;height:260px;margin: 20px auto 0 auto;*margin-left: 10px;}
.search_fields li{display: block; width: 300px;height: 36px;float: left;margin: 0 0 20px 0;}
.input-wrap{width: 300px;height: 40px;float: left;}
.input_city{width: 300px;height: 40px;float: left;border:2px solid #fff;padding-left: 10px;color: #aaa;background: url("../Image/icon_hotellist.png") no-repeat scroll 271px 16px #fff;font-size: 14px;font-family: "微软雅黑";line-height: 36px;padding-left: 10px;}
.input_date{width: 300px;height: 40px;float: left;border:2px solid #fff;padding-left: 10px;color: #aaa;background: url("../Image/icon_hotellist.png") no-repeat scroll 271px 16px #fff;font-size: 14px;font-family: "微软雅黑";line-height: 36px;padding-left: 10px;}
.input_key{width: 300px;height: 40px;float: left;border:2px solid #fff;padding-left: 10px;color: #aaa;background: url("../Image/icon_hotellist.png") no-repeat scroll 271px 16px #fff;font-size: 14px;font-family: "微软雅黑";line-height: 36px;padding-left: 10px;}
.search{width: 400px;float: left;}
.pop_city{ width: 400px;height: 225px;position: absolute;z-index: 4;background-color: #fff;border: 1px solid rgb(144, 203, 89);box-shadow: 0px 1px 4px rgb(153, 153, 153);top: 245px; left: 128.5px;*top:262px;*left:130px; display: none;}
.c_title{width: 400px;height: 30px;float: left;line-height: 30px;background: none repeat scroll 0% 0% rgb(144, 203, 89);}
.c_title span{display: block;width: 216px;height: 16px;margin-left: 10px;font-family: "SimSun";font-size: 12px;color:#fff;}
.list_label_wrap{width: 400px;height: 24px;float: left;margin-top: 10px;border-bottom: 1px solid #cadfb6;}
.list_label{width: 334px;height: 24px;float: left;}
.list_label li{margin-left: 6px;line-height: 24px;float: left;}
.list_label a{padding: 0 5px;font-size: 12px;font-family:"Tahoma";color: #333;display: block;}
.label_city1_container{}










/*************************************************slider end*******************************************************************************/

















/*************************************************body start*******************************************************************************/

.slogan{width: 1349px;height: 100px;float: left;margin-bottom: 20px; background: none repeat scroll 0% 0% rgb(243, 243, 243);}
.slogan-inner{float: left; width: 1200px;height: 100px;margin: 0 auto;background: url("../Image/slogan.png") no-repeat scroll 0% 0% transparent;}
.main{width:1349px;height: 820px;float: left; }
.mod_box{width: 1200px;height:183px;margin: 0 auto;margin-bottom: 20px;}
.mb_hd{width: 1200px;height:32px;margin-bottom: 15px;float: left;}
.font_db{width: 84px;height:32px;margin-right: 20px;float: left;font-size: 21px;font-family: "微软雅黑";font-weight:normal;color:#333;}
.mb_bd{width: 1200px;height: 136px;float: left;}
.db_item{width:auto;height: 136px;float: left;}
.normalLi{width: 136px;height: 136px;display: block;float: left;margin-right: 16px;*margin-right: 12px;}
.item_icon{width: 136px;height: 136px;float: left;opacity: 1;background: url("../Image/icon_db.png") no-repeat scroll 0% 0% transparent;cursor: pointer;}
#i_jccz{background-color:#9aacdc;background-position: 0 0;}
#i_jdzb{background-position: 0px -140px;background-color:#e2bf6f ;}
#i_dxfj{background-position: 0px -280px;background-color:rgb(255, 149, 91);}
.db_item span{width: 136px;height: 27px;padding-top: 90px;*height: 117px;float: left;display: block;font-size: 18px;font-family:"微软雅黑";color:#fff;}
.chLi{margin-right: 0px;}
#i_sqzb{background-position: 0px -420px;background-color: rgb(189, 222, 138);}
#i_xzqy{background-color: rgb(177, 163, 221);background-position: 0px -560px;}
#i_zghc{background-color: rgb(154, 211, 220);background-position: 0px -700px;}
#i_dtzb{background-color: rgb(150, 191, 85);background-position: 0px -840px;}
#i_yyzb{background-color: rgb(85, 189, 206);background-position: 0px -980px;}
.hotel_th{height: 617px;}
.city_list{width: 238px;height: 24px;float: left;}
.clearfix{width: 238px;height: 18px;margin-top: 6px;float: left;}
.clearfix li{line-height: 18px;padding-right: 10px;display: block;float: left;}
.clearfix a{font-size: 12px;font-family:"SimSun";color: #333;}
.clearfix a:hover{color:#7cbf1c ;}
.picwrap{width: 1200px;height: 570px;float: left;position: relative;}
.picinner{width: 288px;height: 570px;margin-right: 16px;float: left;}
.picwrap a{display: block;}
.picB{height: 277px;}
.picC{height: 277px;}
.picD{width:592px ;height: 277px;margin-top: 16px;}
.picE{width:288px ;height: 570px;position: absolute;top: 0px;right: 0px;margin: 0px;}

/*************************************************body end*******************************************************************************/


















/*************************************************footer start*******************************************************************************/

.footer{width: 1349px;height: 512px;float: left;background: none repeat scroll 0% 0% rgb(242, 242, 240);}
.footer-inner{width: 1200px;height: 234px;margin: 0 auto;padding: 40px 0 20px 0;*height: 295px;}
.city_hotel{width: 1200px;height: 97px;margin-bottom: 20px;float: left;position: relative; }
.city_hd{width: 1200px;height: 32px;margin-bottom: 15px;float: left;text-align: left;}
.city_bd{width: 1200px;height: 50px;float: left;}
.more_down{width: 43px;height: 43px;float: left;position: absolute;right: 20px;top:47px;}
.footer-bottom-inner{width: 1200px;height: 150px;padding: 40px 0 20px 0;margin: 0 auto;}
.brand{width: 816px;height: 138px;float: left;}
.rwm{width: 246px;height: 135px;float: right;}
.font_city{font-family: "微软雅黑";font-size: 21px;font-weight: normal;}
.c_b_list{width:1050px;height: 50px;float: left;overflow: hidden;}
.footer-ul{width:1150px;height: 140px;margin-right: -100px;}
.footer-ul li{margin-bottom: 10px;line-height: 18px;display: block;width: 120px;float: left;text-align: left;}
.footer-ul a{color: #888;font-family:"SimSun";font-size:12px;text-align: left;}
.link_list{width: 1050px;height: 50px;float: left;text-align:left;}
.link_list a{line-height: 18px; display: inline-block;margin: 0px 15px 10px 0px;color: rgb(136, 136, 136);font-family:"SimSun";font-size:12px;text-align: left;*margin-right: 22px;}
.hotel_more{display: block;float: left;width: 43px;height:43px;background: url("../Image/img_index.png") no-repeat scroll 0px -60px transparent;}
.more-this{display: block;float: left;width: 43px;height:43px;background: url("../Image/img_index.png") no-repeat scroll -60px -60px transparent;}
.q_link{text-align: left; margin-bottom: 10px;font-size: 12px;font-family: "Tahoma";color:#555;*word-spacing:-2px;word-spacing:-1px;}
.q_link a{font-size: 12px;font-family: "SimSun";color:#555;}
.xin{margin-bottom: 10px;}
.xin a{display: block;float: left;padding-right: 10px;}
.last{position: relative;bottom: -10px;left: 10px;}
.rwm_weixin{width: 113px;height: 135px;float: left;margin-left:10px;}
.rwm_weixin dt{width: 113px;height: 117px;float: left;}
.rwm_weixin dd{width: 113px;height: 18px;float: left;text-align: center;font-family: "SimSun";color: #333;font-size: 12px;}




/*************************************************footer end*******************************************************************************/



